*{
    padding: 0;
    margin: 0;
}

body{
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
}

main{
    display: none;
}

nav > ul > li {
    padding: 10px;
    border: solid black thin;
    border-radius: 5px;
    list-style: none;
    margin: 5px;
}

.box{
    border: solid black 1px;
    padding: 3px;
    border-radius: 6px;
}