*{
    padding: 0;
    margin: 0;
    color: whitesmoke;
    border-color: whitesmoke;
}

body{
    position: absolute;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #393636;
}

h3{
    text-align: center;
}

main{
    display: none;
}

nav{
    position: relative;
    height: 65px;
    padding-bottom: 20px;
}

nav > ul{
    overflow: scroll;
    position: relative;
    height: 100%;
}

nav > ul > li {
    padding: 10px;
    border: solid black thin;
    border-radius: 5px;
    list-style: none;
    margin: 5px;
    display: table-cell;
    position: absolute;
    font-size: 13pt;
}

#selectedCity{
    background: #ff8b8b;
}

.box{
    border: solid whitesmoke 1px;
    padding: 3px;
    border-radius: 6px;
    margin-bottom: 10px;
}

#forecast5Days g.ct-series-a > .ct-line{
    stroke: gray;
}

#forecast5Days g.ct-series-a > .ct-point{
    stroke: gray;
}

#forecast5Days g.ct-series-a > .ct-area{
    fill: gray;
}

#forecast5Days g.ct-series-b > .ct-line{
    stroke: red;
}

#forecast5Days g.ct-series-b > .ct-point{
    stroke: red;
}

#forecast5Days g.ct-series-b > .ct-area{
    fill: red;
}

#forecast5Days g.ct-series-c > .ct-line{
    stroke: blue;
}

#forecast5Days g.ct-series-c > .ct-point{
    stroke: blue;
}

#forecast5Days g.ct-series-c > .ct-area{
    fill: blue;
}

#forecast5Days table{
    width: 100%;
    text-align: center;
}

#forecast5Days img{
    width: 100%;
}

#forecast5Days tbody td{
    width: 20%;
}

#forecast3HourInterval {
    position: absolute;
    width: calc(100% - 6px - 2px);
    overflow: scroll;
}

/* #forecast3HourInterval table{
    table-layout: fixed;
}

*/

#forecast3HourInterval span{
    text-align: center;
    display: block;
} 

#tempMin,
.minTemp,
.minTemp span{
    color: #2b2be6;
}

.feelTemp span{
    color: #7373bf;
}

#tempMax,
.maxTemp,
.maxTemp span{
    color: red;
}

.canvasHolder {
    margin-bottom: 37px;
}

#forecast5Days > table:nth-child(3) {
    border-top: solid white 2px;
}

#currentWeather td{
    font-size: 17px;
}

#temp{
    font-size: 35px !important;
}

#currentWeatherImg {
    float: right;
    width: 100px;
}

td.time{
    font-weight: bold;
}
  